spring:
  datasource:
    url: jdbc:mysql://localhost:3306/springdb
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234

  h2:
    console:
      enabled: true

  jpa:
    open-in-view: false
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000

  servlet:
    multipart:
      maxFileSize: 20MB
      maxRequestSize: 100MB

server:
  port: 9000